$white: #ffffff;

$light-gray: #fbfbfd;
$gray: #998da0;

// colors.
$color-primary: #8e51c7;

// text.
$text-primary: #463853;
$text-secondary: #998da0;

// paddings.
$padding-small: 12px;
$padding-medium: 18px;
$padding-large: 24px;

// fonts.
$font-small: 15px;
$font-medium: 21px;
$font-large: 30px;
