@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700';

.animate {
  transition-property: all;
  transition-timing-function: ease;
}

.animate-background {
  transition-property: background;
}

.animate-color {
  transition-property: color;
}

.animate-100 {
  transition-duration: 100ms;
}

.animate-200 {
  transition-duration: 200ms;
}
