.animate {
  transition-property: all;
  transition-timing-function: ease;
}

.animate-background {
  transition-property: background;
}

.animate-color {
  transition-property: color;
}

.animate-100 {
  transition-duration: 100ms;
}

.animate-200 {
  transition-duration: 200ms;
}

.animate-300 {
  transition-duration: 300ms;
}

.animate-500 {
  transition-duration: 500ms;
}
